body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#504f4f, rgba(255, 0, 0, 0.678));
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
  }
  .choices {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin-top: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
  }
  
  .playerImgs,
  .computerImgs {
    display: flex;
    width: auto;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.048);
    padding: 20px;
    border: solid black 5px;
    border-radius: 10px;
    max-height: 90px;
    gap: 60px;
  }
  img {
    width: 90px;
    height: 90px;
  }
  .pImg:hover {
    cursor: pointer;
    width: 100px;
    height: 100px;
  }
  .active {
    width: 100px;
    height: 100px;
  }
  
  .winner {
    width: 100%;
  }
  .reset {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: rgb(104, 0, 0);
    color: rgb(255, 255, 255);
    font-size: x-large;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
  }
  .reset:hover {
    cursor: pointer;
  }
  .winnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }